* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1015px;
  margin: 0 auto;
}

/*--------------- Header Section Css Starts Here ---------------*/
.header {
  background-color: #4c97a2;
}
.header-heading {
  float: left;
}
.header-nav {
  float: right;
  padding: 42px 0 33px 0;
  list-style-type: none;
}
.header-nav li {
  float: left;
  padding: 0 25px;
}
.header-heading h1 {
  color: #fff;
  padding: 30px 0;
  font-size: 40px;
}
.header-nav a {
  font-size: 18px;
  color: #dce3e4;
  text-decoration: none;
}
.clear {
  clear: both;
}
/*--------------- Header Section Css Ends Here ---------------*/

/*--------------- Banner Section Css Starts Here ---------------*/
.banner img {
  width: 100%;
}
.banner {
  position: relative;
}
.banner-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.banner-heading h2 {
  color: #e4e4e4;
  font-size: 44px;
  padding-bottom: 46px;
}
.banner-heading a {
  color: #e4e4e4;
  text-decoration: none;
  border: 2px solid #afb1b4;
  font-size: 30px;
  padding: 12px 48px;
  border-radius: 10px;
}
/*--------------- Banner Section Css Ends Here ---------------*/

/*--------------- Img Section Css Starts Here ---------------*/
.img-section {
  text-align: center;
  margin-bottom: 75px;
}
.img-section h3 {
  font-size: 30px;
  color: #4c505d;
  padding: 0 190px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.img-section p {
  font-size: 14px;
  color: #4c505d;
  padding: 0 130px;
  margin-bottom: 70px;
}
.middle-img {
  margin: 0 125px;
}
/*--------------- Img Section Css Ends Here ---------------*/

/*--------------- Dhawan Info Section Css Starts Here ---------------*/
.dhawan-section {
  background-color: #00d089;
}
.dhawan-img {
  margin-left: 400px;
  float: left;
}
.dhawan-info {
  float: left;
  margin-left: 34px;
}
.dhawan-wrapper {
  padding-top: 100px;
}
.dhawan-info img {
  opacity: 0.4;
}
.dhawan-info h3 {
  font-size: 26px;
  color: #e4e4e4;
}
.dhawan-para p {
  font-size: 18px;
  color: #e4e4e4;
  padding: 0 22px;
}
.dhawan-para {
  padding: 60px 0 90px 0;
}
/*--------------- Dhawan Info Section Css Ends Here ---------------*/

/*--------------- Map Section Css Starts Here ---------------*/
.map-img img {
  width: 100%;
}
.map {
  position: relative;
}
.map-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 432px;
  height: 432px;
  opacity: 0.9;
  border: 1px solid #e9e8e6;
  background-color: #fdfdfd;
  border-radius: 50%;
  text-align: center;
}
.name-field {
  width: 275px;
  padding: 0 5px;
  height: 30px;
  border: 1px solid #d8d8d8;
  margin-top: 110px;
}
.email-field {
  width: 275px;
  padding: 0 5px;
  height: 30px;
  border: 1px solid #d8d8d8;
  margin: 14px 0;
}
.message-field {
  width: 275px;
  padding: 0 5px;
  height: 80px;
  border: 1px solid #d8d8d8;
  margin-bottom: 32px;
}
/*--------------- Map Section Css Ends Here ---------------*/

/*--------------- Footer Section Css Starts Here ---------------*/
.footer {
  background-color: #00d089;
  text-align: center;
}
.footer p {
  color: #fff;
  font-size: 14px;
  padding: 14px 0 16px 0;
}
/*--------------- Footer Section Css Ends Here ---------------*/

/*--------------- Media Query Css Starts Here ---------------*/
@media screen and (max-width: 992px) {
  .banner-heading h2 {
    font-size: 36px;
  }
  .banner-heading a {
    font-size: 24px;
    padding: 12px 36px;
  }
  .map-form {
    width: 380px;
    height: 380px;
  }
  .name-field {
    margin-top: 85px;
  }
  .dhawan-img {
    margin-left: 35%;
  }
}
@media screen and (max-width: 767px) {
  .header-heading h1 {
    padding: 18px 0;
    font-size: 36px;
  }
  .header-heading {
    float: none;
    text-align: center;
  }
  .header-nav {
    float: none;
    padding: 12px 0 36px 0;
  }
  .header-nav li {
    padding: 0px 30px;
  }
  .banner-heading a {
    font-size: 18px;
    padding: 8px 18px;
  }
  .banner-heading h2 {
    font-size: 24px;
  }
  .img-section h3 {
    padding: 0 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .img-section {
    margin-bottom: 40px;
  }
  .img-section p {
    padding: 0 80px;
    margin-bottom: 40px;
  }
  .middle-img {
    margin: 0 60px;
  }
  .dhawan-wrapper {
    padding-top: 60px;
  }
  .dhawan-para {
    padding: 60px 0 60px 0;
  }
  .map-img img {
    height: 400px;
  }
  .map-form {
    width: 300px;
    height: 300px;
  }
  .name-field {
    margin-top: 60px;
    width: 200px;
  }
  .email-field {
    width: 200px;
  }
  .message-field {
    width: 200px;
    height: 60px;
    margin-bottom: 24px;
  }
  .map-righticon img {
    width: 16%;
  }
}
@media screen and (max-width: 580px) {
  .header-heading h1 {
    padding: 12px 0;
    font-size: 30px;
  }
  .header-nav li {
    padding: 0px 18px;
  }
  .banner-heading h2 {
    font-size: 18px;
    padding-bottom: 24px;
  }
  .banner-heading a {
    font-size: 16px;
    padding: 8px 12px;
  }
  .dhawan-img {
    margin-left: 20%;
  }
  .map-form {
    width: 260px;
    height: 260px;
  }
  .name-field {
    margin-top: 40px;
    width: 180px;
  }
  .email-field {
    width: 180px;
  }
  .message-field {
    width: 180px;
    height: 60px;
    margin-bottom: 18px;
  }
  .map-img img {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .header-nav li {
    padding: 0px 10px;
  }
  .header-nav a {
    font-size: 14px;
  }
  .banner img {
    height: 200px;
  }
  .banner-heading {
    left: 35%;
    transform: translate(-30%, -50%);
  }
  .banner-heading h2 {
    font-size: 20px;
    padding-bottom: 16px;
  }
  .banner-heading a {
    font-size: 18px;
    padding: 6px 10px;
  }
  .img-section h3 {
    padding: 0 24px;
    font-size: 20px;
    margin-bottom: 24px;
  }
  .img-section p {
    padding: 0 24px;
  }
  .dhawan-img {
    margin-left: 8%;
  }
  .dhawan-para {
    padding: 36px 0 60px 0;
  }
}
/*--------------- Media Query Css Ends Here ---------------*/
